html,
body {
    color: #ffffff;
    background-color: #000000;
    overflow: hidden !important;
}

html,
body,
:not(.material-symbols-outlined) {
    font-family: 'Montserrat', sans-serif;
}

.btn i,
.btn span,
.btn-flat i,
.btn-flat span,
.btn-floating i,
.btn-floating span {
    color: inherit !important;
}

.btn i,
.btn-floating i {
    font-size: 2rem;
}

a {
    color: var(--light-green) !important;
}

/** Editor */

.fr-wrapper {
    height: 98px;
    overflow: auto;
}

/** Commons */

main,
header,
.navbar-main,
.sidenav,
.main-menu,
aside {
    transition: all 400ms !important;
    -webkit-transition: all 400ms !important;
}

.material-symbols-outlined {
    font-size: 24px;
}

nav ul a,
.sidenav li>a,
.sidenav li>a>i {
    color: var(--grey-darken-4);
    font-size: 14px;
}

/** NavBar */

.navbar .navbar-main {
    padding: 0 8px 0 310px;
    width: 100%;
    height: 64px;
    line-height: 64px;
    background-color: transparent;
}

.navbar .navbar-dark {
    background-color: var(--grey-darken-4);
}

nav .nav-wrapper {
    line-height: 60px;
}

.navbar-fixed nav {
    position: fixed;
}

nav [class*=mdi-],
nav [class^=mdi-],
nav i {
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    display: block;
}

.navbar h1 {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    font-size: 24px;
    text-transform: uppercase;
    max-width: calc(100% - 120px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 12px;
    color: var(--light-green);
}

.navbar h1 .icon,
.navbar h1 .btn {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 28px;
    color: inherit;
    width: 34px;
    height: 34px;
    line-height: 34px;
    top: -2px;
    position: relative;
}

/** Footer */

footer {
    position: relative;
    overflow: hidden;
    z-index: 997;
    height: 50px;
    width: calc(100% - 300px);
    border-top: 1px solid var(--grey-darken-3);
}

.footer.footer-fixed {
    position: fixed;
    bottom: 0;
    left: inherit;
    right: 0;
    top: auto;
}

.logo {
    height: 24px;
    margin: 10px 0;
}

/** Progress Bar and PaceJS */

.progress,
.pace .pace-progress {
    position: fixed;
    left: 300px;
    top: 60px;
    margin: 0;
    z-index: 10000000;
    height: 5px;
    width: calc(100% - 300px);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0;
    display: none;
}

.pace .pace-progress {
    left: auto;
    display: block;
}

.progress .indeterminate::before,
.progress .indeterminate-center::before,
.pace .pace-progress {
    background: -webkit-linear-gradient(45deg, var(--light-green), var(--green));
    background: linear-gradient(45deg, var(--light-green), var(--green));
}

/** SideNav */

.main-menu {
    height: calc(100% - 65px);
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: inherit;
    width: 100%;
    top: 65px;
    overflow: auto;
}

.sidenav-main {
    width: 300px;
}

.sidenav .collapsible-header:after {
    font-family: 'Material Symbols';
}

.sidenav li>.collapsible-header:after {
    right: 10px;
}

.sidenav.sidenav-fixed {
    top: 0;
}

.sidenav li a i {
    font-size: 1.5rem;
}

.sidenav li a.active {
    background: var(--gradient-45deg-green-light-green);
}

.sidenav li a:not(.active):hover,
.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
    background: #000;
}

.sidenav li .collapsible-body a i {
    font-size: 1.6rem;
}

.sidenav li .collapsible-body li a {
    padding-left: 30px !important;
}

.nav-collapsed .sidenav-active-rounded .sidenav li>a.active {
    margin-right: 0.5rem;
}

.nav-collapsed header .navbar .navbar-main {
    padding-left: 70px;
}

.nav-collapsed aside {
    width: 60px;
}

.nav-collapsed aside .application-logo,
.nav-collapsed aside ul li a.submenu-open:after {
    display: none;
}

.nav-collapsed aside .sidenav {
    width: inherit;
    transform: translateX(0);
}

.nav-collapsed aside:hover .sidenav {
    width: 300px;
}

.nav-collapsed aside:hover .navigation-header-text,
.nav-expanded aside:hover .navigation-header-icon,
.nav-collapsed aside:hover .application-logo {
    display: block;
}

.nav-collapsed aside:hover .navigation-header-icon {
    display: none !important;
}

/** Logo */

.application-logo {
    position: relative;
    height: 64px;
    width: inherit;
    padding: 0px 18px;
    background-color: #ffffff;
    float: left;
    text-align: center;
    display: block;
    z-index: 999998;
    padding: 10px 0;
    width: 100%;
}

.application-logo:before,
.navbar-main:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 5px;
    z-index: 999;
}

.application-logo:before,
.navbar-main:after {
    border-bottom: 5px solid rgba(255, 255, 255, 0.05);
}

.application-logo a {
    line-height: 0;
}

.application-logo img {
    margin-left: 50px;
    width: 230px;
}

.btn-menu,
.btn.sidenav-close {
    position: absolute;
    z-index: 999999;
    top: 10px;
    left: 9px;
    color: #fff;
}

.btn.sidenav-close {
    left: auto;
    right: 9px;
    top: 10px;
}

.btn-menu {
    background-color: transparent !important;
}

.btn-menu:hover,
.btn-menu:focus {
    background-color: var(--grey-darken-3) !important;
}

/** Main */

main {
    display: block;
    height: calc(100vh - 54px);
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px 30px 30px 330px;
    background-color: transparent;
}

main::before,
main::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

main::before {
    background-image: url("../img/admin/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main::after {
    opacity: 0.7;
}

main .card-panel {
    position: relative;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey-darken-3);
    height: calc(100vh - 170px);
    background-color: inherit;
}

main .card-panel>.card-content,
.card-panel form.card-reveal .card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 68px);
    overflow-y: auto;
    padding: 24px 15px;
}

.card-panel form.card-reveal {
    transition: 250ms;
    overflow: hidden;
    z-index: 9999999;
    background-color: #000;
}

.card-panel .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-header {
    position: relative;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid var(--grey-darken-3);
    background-color: var(--grey-darken-4);
}

main .card-panel>.card-header~.card-content {
    height: calc(100% - 56px);
    top: auto;
}

#card-button {
    background: var(--gradient-45deg-green-light-green);
}

#search-on-page {
    width: calc(100% - 20%);
    height: 54px;
    display: flex;
    align-items: center;
    background-color: inherit;
    overflow: hidden;
}

#search-on-page .btn {
    position: absolute;
}

#search-on-page .btn:hover {
    background-color: var(--grey-darken-3);
}

#search-on-page input[type="search"] {
    position: relative;
    margin: 0;
    height: inherit;
    color: inherit;
    background-color: inherit;
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
    z-index: 9;
}

/** Card */

.title,
.subtitle,
.text-overflow {
    color: inherit;
    max-width: 70%;
    width: 70%;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    position: relative !important;
    overflow: hidden !important;
    display: block !important;
}

.card-content .card {
    overflow: hidden;
    background-color: var(--grey-darken-4);
}

.circle {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.card .card-image.circle {
    min-width: 200px;
    position: relative;
    overflow: hidden;
}

.card .card-image.circle img {
    border-radius: 100%;
    overflow: hidden;
}

.card.reverse .titulo {
    text-align: right;
}

.card.reverse .flex {
    flex-flow: row-reverse;
    text-align: right;
}

.card.reverse .card-image {
    display: flex;
    place-content: end;
}

.card.reverse .card-image img {
    float: right;
}

.card-content .card .inactive,
.card-content .card .btn-group {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 100%; */
    /* width: 100%; */
    opacity: 0;
    display: flex;
    place-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 250ms;
}

.btn-group .btn.edit {
    transform: translateX(200%);
    background-color: var(--green);
}

.btn-group .btn.delete {
    transform: translateX(-200%);
    background-color: var(--red-lighten-1);
}

.card-content .card:hover .btn-group {
    opacity: 1;
}

.card-content .card:hover .btn-group .btn {
    opacity: 1;
    transform: translateX(0%);
}

.card-content .card .inactive {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}

.card-content .card:hover .inactive {
    opacity: 0.8;
}

.card .card-action {
    padding: 16px;
    background-color: var(--grey-darken-4);
}

.card-title {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.card-image {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 30%;
}

.card-image img {
    width: 100%;
    height: 100%;
}

/** Form */

input:not([type]):not([readonly]),
input[type=text]:not(.browser-default):not([readonly]),
input[type=password]:not(.browser-default):not([readonly]),
input[type=email]:not(.browser-default):not([readonly]),
input[type=url]:not(.browser-default):not([readonly]),
input[type=time]:not(.browser-default):not([readonly]),
input[type=date]:not(.browser-default):not([readonly]),
input[type=datetime]:not(.browser-default):not([readonly]),
input[type=datetime-local]:not(.browser-default):not([readonly]),
input[type=tel]:not(.browser-default):not([readonly]),
input[type=number]:not(.browser-default):not([readonly]),
input[type=search]:not(.browser-default):not([readonly]),
textarea.materialize-textarea:not([readonly]),
.select-wrapper:not(.browser-default) input.select-dropdown,
.select-wrapper:not(.browser-default) input.select-dropdown.ql-container:not([readonly]),
.chips.focus:not([readonly]),
.input-field:not(.browser-default) .ql-container:not([readonly]) {
    background-image: linear-gradient(var(--light-green), var(--light-green)), linear-gradient(var(--light-green), var(--light-green));
    color: #fff;
}

.switch label .lever {
    background-color: rgba(255, 255, 255, 0.3);
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: var(--light-green);
}

.input-field>label:not(.label-icon) {
    color: var(--light-green);
}

.dark-theme.fr-toolbar,
.dark-theme .fr-second-toolbar,
.dark-theme.fr-box.fr-basic .fr-wrapper {
    background-color: transparent;
}

.dark-theme.fr-toolbar,
.dark-theme .fr-second-toolbar,
.dark-theme.fr-box.fr-basic .fr-wrapper {
    border-color: var(--light-green);
}

.dark-theme.fr-box.fr-basic .fr-element {
    color: #fff;
    height: 100%;
}

@media screen and (max-width: 992px) {

    .card.horizontal {
        flex-direction: column;
        max-height: 100%;
        height: auto;
    }

    .card.horizontal .card-image {
        width: 100% !important;
        max-width: 100% !important;
    }

    .card.horizontal .card-image img {
        height: auto;
        width: 100%;
    }

}